<%- include('partials/header') %>

<h1>Editar Producto</h1>
<form action="/productos/<%= producto.id %>" method="POST">
  <input name="nombre" value="<%= producto.nombre %>" class="form-control mb-2" required>
  <textarea name="descripcion" class="form-control mb-2" required><%= producto.descripcion %></textarea>
  <input name="precio" type="number" step="0.01" value="<%= producto.precio %>" class="form-control mb-2" required>
  <input name="imagen" value="<%= producto.imagen %>" class="form-control mb-2" required>
  <button class="btn btn-primary">Actualizar</button>
</form>

<%- include('partials/footer') %>